<?php

$this->headTitle('Bank of England Base Rate History');
$this->headMeta()->setName('description', 'Information bout the Bank of England Base Rate, or reference rate');

?>
<div class="page-header">
	<h1>Bank of England Base Rate History</h1>
</div>

<div class="row">
	<div class="span8">
		<section id="currentRate">
			<h1>Current <abbr title="Bank of England">BoE</abbr> Reference Rate</h1>
			<p>The current rate is <span class="label label-important"><?php echo sprintf('%0.2f', $this->currentRate); ?>%</span> and hasn't changed since
			<time datetime="<?php echo $this->lastChangeDate->format("Y-m-d"); ?>"><?php echo $this->lastChangeDate->format("l jS F Y"); ?></time></p>
		</section>
		<section id="rateHistory">
			<h1>Rate History</h1>
			<p>Starting with the most recent, here is the complete history of changes to to the Bank of England Base Rate.
			Find out more at the <a href="http://www.bankofengland.co.uk/statistics/pages/iadb/notesiadb/wholesale_baserate.aspx">Bank of England Website</a>.</p>
			<p>This tool is used by our <a href="<?php echo $this->url('late_payment'); ?>" title="Free Late Payment Interest Caclulator">free late-payment legislation interest calculator</a>.</p>
			<table class="table table-condensed table-striped table-hover">
				<thead>
					<tr>
						<th>Date</th>
						<th>Rate</th>
					</tr>
				</thead>
				<tbody>
				<?php
				$rates = $this->rates;
				unset($rates['info']);
				$rates = array_reverse($rates);
				foreach($rates as $rate) {
					$date = new \DateTime($rate['date'], new \DateTimezone($rate['timezone']));
					?>
					<tr>
						<td><time datetime="<?php echo $rate['date']; ?>"><?php echo $date->format("jS F Y"); ?></time></td>
						<td><?php echo sprintf('%0.2f', $rate['rate']); ?>%</td>
					</tr>
					<?php
				}
				?>
				</tbody>
			</table>
		</section>
	</div>
	<div class="span4">
		<aside class="well" id="boeDateRate">
			<h3>Look up by Date</h3>
			<p>Use this tool to look up the <abbr title="Bank of England">BoE</abbr> base rate for any date after 1975 ish</p>
			<form id="rateDate">
				<label for="inputDate">Date</label>
				<input type="date" name="inputDate" id="inputDate" placeholder="YYYY-MM-DD">
				<button class="btn btn-success" type="submit" id="getRate">Lookup Rate</button>
			</form>
			<div id="rateMsg"></div>
		</aside>
	</div>
</div>

<script>
	$(function() {
		$('#inputDate').datepicker({
			format: 'yyyy-mm-dd'
		});
		$('#rateDate').submit(function(evt) {
			evt.preventDefault();
			var dateStr = $('#inputDate').val();
			if(!dateStr.match(/^[0-9]{4}-[0-9]{1,2}-[0-9]{1,2}$/)) {
				$('#rateMsg').fadeOut('quick', function() {
					$(this).empty().append('<p class="text-error">Please enter a valid date in the format YYYY-MM-DD</p>').fadeIn();
				});
				return;
			}
			var parts = dateStr.split('-');
			var uri = "<?php echo $this->url('boe_rates/json'); ?>";
			uri = uri + '/' + parts[0] + '/' + parts[1] + '/' + parts[2];
			$.getJSON(uri, function() {
			
			}).done(function(data) {
				$('#rateMsg').fadeOut('quick', function() {
					$(this).empty().append('<p class="lead rate"><span class="label label-success">' + data.rate + '%</span></p>').fadeIn();
				});
			}).fail(function(jqxhr, textStatus, error) {
				var err = JSON.parse(jqxhr.responseText);
				$('#rateMsg').fadeOut('quick', function() {
					$(this).empty().append('<p class="text-error"><span class="label label-important">Error:</span> ' + err.message + '</p>').fadeIn();
				});
			});
		});
	});
</script>