<?php

$this->headTitle('UK Late Payment Legislation Interest & Fee Calculator');
$this->headMeta()->setName('description', 'A free to use on-line late payment calculator for working out interest and fees on UK business to business invoices');

?>
<div class="page-header">
	<h1>UK Late Payment Legislation Interest &amp; Recovery Fee Calculator</h1>
	<p class="lead">This tool is intended to help small businesses calculate the fees they are permitted to charge on late payment
	of commercial debts in the UK.</p>
</div>


<div class="row" id="latePaymentCalculator">

	<div class="span6">

		<div id="calcErrors"></div>
		<form id="calculatorForm" action="<?php echo $this->url('late_payment/json'); ?>" method="post">

			<div class="control-group">
				<label for="invoiceAmount">Invoice Amount</label>
				<div class="controls">
					<div class="input-prepend">
						<span class="add-on"><span class="icon-gbp"></span></span>
						<input type="text" name="invoiceAmount" id="invoiceAmount" class="span2" placeholder="0.00">
					</div>
				</div>
			</div>

			<div class="control-group">
				<label for="invoiceDate">Invoice Date</label>
				<div class="controls">
					<div class="input-prepend">
						<span class="add-on"><span class="icon-calendar"></span></span>
						<input min="1975-01-02" max="<?php echo date("Y-m-d"); ?>" type="date" name="invoiceDate" id="invoiceDate" class="datepicker span2" value="<?php echo date("Y-m-d", mktime(12, 0, 0, date("n"), -30)); ?>">
					</div>
				</div>
			</div>

			<div class="control-group">
				<label for="terms">Terms</label>
				<div class="controls">
					<div class="input-prepend">
						<span class="add-on"><span class="icon-time"></span></span>
						<input min="0" max="360" type="number" name="terms" id="terms" value="30" class="span1">
					</div>
				</div>
			</div>

			<div class="form-actions">
				<input type="submit" name="submitJson" class="btn btn-success" value="Calculate">
			</div>

		</form>
	</div>
	
	<div class="span6">

		<div id="calcResult">
			<h2>Enter Some Information</h2>
			<p>Type in the invoice amount, the date of the invoice and the payment terms in days into the form to the left and click the button to see the calculation...</p>
		</div>
		
	</div>
</div>

<section id="late-payment-calculator-info">
	
	
	<div class="row">
		<div class="span8">
			<div class="page-header">
				<h1>What is this calculator for?</h1>
			</div>
			<p>Working out the charges you can legally levy against your clients in
			the event of late payment is pretty easy from a math perspective, but
			working out how many days overdue the invoice is can be a pain.
			That's why we put together this very simple late-payment calculator.</p>
			
			<p><strong>Simply enter the original invoice amount, the due date and
			the payment terms in days and you'll get a detailed calculation.</strong></p>
			
			<p>There are <a href="https://www.google.com/search?q=late+payment+legislation+uk">lots of websites</a>
			that provide detailed information about the late payment legislation, how to calculate it and when to charge
			it so we're not going into detail here.</p>
			
			<p>As a small business ourselves, we don't have a hard and fast policy for late payment, but
			occassionally we do have to resort to charges and/or court proceedings to recover debts. That's why
			we put this free calculator together; it makes life a little easier when the problem arises.</p>
			
			<p>This calculator is available as an open-source Zend Framework 2 module. The <a href="https://bitbucket.org/netglue/zf2-late-payment-module">source is available on Bitbucket</a>.</p>
			
			<h2>Bank of England Reference Rate</h2>
			<p>As we understand it, the reference rate is set twice per year. On the 31st
			December and the 30th June for the following six months. This is the rate
			you are supposed to use for calculating interest on late payments.</p>
			<p>To help the calculator do it's job, we developed a simple 
			<abbr title="Javascript Object Notation" class="initialism">JSON</abbr>
			web service to return base rates directly from the Bank of England, as
			such you can find a <a href="<?php echo $this->url('boe_rates'); ?>" title="Bank of England Base Rate History">history
			of the Bank of England base rate here</a>.</p>
			
			<div class="muted">
			<h2>Disclaimer</h2>
			<p><small>The calculator is offerred on an <em>as is</em> basis and we make no warranty for it's accuracy and neither is it intended as some kind
			of replacement for decent legal advice should you need it.</small></p>
			<p><small>Your use of the calculator indicates that you agree to the <a href="http://opensource.org/licenses/BSD-3-Clause" rel="license">license under which it is released</a>.</small></p>
			</div>

			
		</div>
		
		<div class="span4">
			<div class="well">
				<aside>
					<h2>Useful Sources of Information</h2>
					<p>These pages should give you more information about the legislation and
					how and when you can use it to enforce decent payment practices.</p>
					<ul>
						<li><a href="https://www.gov.uk/late-commercial-payments-interest-debt-recovery" title="the gov.uk guide">A guide on gov.uk to the legislation</a></li>
						<li><a href="http://www.legislation.gov.uk/uksi/2013/395/introduction/made" title="Late payment legislation in full">The legislation in full on <kbd>www.legislation.gov.uk</kbd></a></li>
						<li><a href="http://www.legislation.gov.uk/ukpga/1998/20/introduction" title="The original 1998 Act">The original Act from 1998</a></li>
						<li>We like <a href="http://www.paylate.co.uk">this website</a> put together
						by <a href="http://www.aa.net.uk" title="Andrews and Arnold are a UK Internet Service Provider">Andrews
						&amp; Arnold Ltd</a>, whilst a little out of date, it has some very good information.</li>
					</ul>

						
				</aside>
			</div>
		</div>
	</div>
</section>


<script>

$(function() {
	$('.datepicker').datepicker({
		format: 'yyyy-mm-dd'
	});
	
	function calcReset() {
		$('#calcErrors').empty();
		$('.control-group').removeClass('error');
		$('.error-message').remove();
		$('#calcResult').empty();
	}
	
	$('#calculatorForm').submit(function(evt) {
		evt.preventDefault();
		var form = $(this);
		calcReset();
		$('#calcResult').append($('<h1 class="text-center"><span class="icon-spinner icon-spin icon-large"></span> Working...</h1>'));
		
		$.post(form.attr('action'), form.serialize(), function(data) {
			// Do stuff with data
			calcReset();
			var labels = {
				"invoiceDate":{name:"Invoice Date",type:'date'},
				"invoiceAmount":{name:"Invoice Amount",type:'money'},
				"terms":{name:"Payment Terms",type:'int',append: ' Days'},
				"dueDate":{name:"Due Date",type:'date'},
				"daysOverdue":{name:"Days Overdue",type:'int',append: ' Days'},
				"statutoryInterestRate":{name:"Statutory Interest Rate",type:'percent'},
				"referenceRate":{name:"BoE Reference Rate",type:'percent'},
				"fee":{name:"Debt Recovery Fee",type:'money'},
				"interest":{name:"Total Interest Payable",type:'money'},
				"dailyInterest":{name:"Daily Interest Amount",type:'money'},
				"grandTotal":{name:"Total now Due",type:'money'}
			};
			var dl = $('<dl class="dl-horizontal"></dl>');
			$('#calcResult').append('<div class="heading"><h2><span class="icon-ok-circle"></span> Your Calculation</h2></div>').append(dl);
			for(var id in labels) {
				var params = labels[id];
				dl.append('<dt>' + params.name + '</dt>');
				var value = data[id];
				if(params.type === 'money') {
					value = value.toFixed(2);
					value = '&pound;' + value;
				}
				if(params.type === 'percent') {
					value = value.toFixed(2) + '%';
				}
				if(params.append !== undefined) {
					value = value + params.append;
				}
				
				dl.append('<dd>' + value + '</dd>');
			}
		}).fail(function(xhr) {
			calcReset();
			var resp = JSON.parse(xhr.responseText);
			$('#calcResult').append($('<h2 class="text-error"><span class="icon-keyboard"></span> Keyboard Working?</h2>'));
			$('#calcErrors').append('<h2 class="text-error"><span class="icon-frown"></span> Oh No!</h2>').append($('<div class="alert alert-error"><button type="button" class="close" data-dismiss="alert">&times;</button><span class="label label-important">Error:</span> ' + resp.message + '</div>'));
			for(var inputId in resp.errors) {
				var elem = $( '#' + inputId);
				for(var ii in resp.errors[inputId]) {
					var msg = resp.errors[inputId][ii];
					elem.parents('.control-group').addClass('error');
					elem.parent().after('<span class="help-block error-message">' + msg + '</span>');
				}
			}
		});
		
	});
	
});

</script>